nav {
  background: #140b5c;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.nav-toggle:hover {
  color: #15cdfc;
}
.logo {
  text-decoration: none;
  padding: 0;
}
.logo h1 {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.logo h1 span:nth-child(1) {
  font-size: 2.4rem;
  color: #15cdfc;
}
h1 span:nth-child(2) {
  font-size: 2.2rem;
  color: #15cdfc;
}

.links li .link {
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5;
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  transition: all 0.3s ease;
}

.links .link:hover {
  color: #15cdfc;
  padding-left: 1.5rem;
}
.links-container {
  height: 10rem;
  overflow: hidden;
  transition: all 0.5s ease;
  background: #140b5c;
}
.show-container {
  height: 10rem;
}

.navBtn .link {
  display: none;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
  }
  .logo {
    padding: 1.5rem 0;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links .link {
    padding: 0;
    background: transparent;
  }

  .navBtn .link {
    display: block;
    border-radius: 5px;
    text-decoration: none;
    background: #256ce1;
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
  .navBtn .link:hover {
    transition: all 0.3s ease-in-out;
    color: #256ce1;
    background: #fff;
  }
}
